[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"
deftools = {editable = true,path = "."}

[packages]
numpy = "*"
pandas = "*"
opencv-python = "<4.2.0.33"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
